body {
    overflow-y: scroll;
    color: black;
  }

.dark {
    background-color: black;
    color: white;
}

.dark > * {
    background-color: black;
    color:white;
}

.darkMode {
    color: white;
}

ul {
    list-style-type: none;
}

@media (min-width: 992px) {
    .page-heading{
        text-align:left!important;
    }
}

@media (max-width: 576px) {
    .page-title{
        font-size: 1.5rem!important;
    }
}

@media (max-width: 350px) {
    .page-title{
        font-size: 1rem!important;
    }
}

.qty-btn.active {
    background-color: #007bff!important;
    color: white!important;
    border-color: #007bff!important;
}

.qty-btn.active.focus, .qty-btn.active:focus {
    box-shadow: none;
}

